.container {
  margin: 2rem 0;
  /* border: 1px solid black; */
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
}

/* .svg {
  width: 50px;
  height: 50px;
} */

.iconContainer {
  display: flex;
  justify-content: center;
}

.iconContainer svg {
  width: 50px;
  height: 50px;
}
