.mainContainer {
  min-height: 100vh;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}

@media (min-width: 1000px) {
  .container {
    flex-direction: row;
  }
}

.subHeader {
  color: black;
  margin: 10px 0;
  font-weight: 400;
}

.text {
  font-size: 24px;
  font-weight: 400;
  height: fit-content;
  line-height: 1.5;
}

.linkText {
  text-decoration: underline;
  cursor: pointer;
  width: fit-content;
}

.linkText:hover,
.linkText:focus {
  color: lightgray;
}
