.card {
  width: 100%;
  max-width: 100%;
  margin: 2rem 0;
}

@media (min-width: 1000px) {
  .card {
    width: 32%;
    margin: 0;
    min-width: 250px;
    max-width: 400px;
  }
}

.imageContainer {
  width: 100%;
  min-width: 250px;
  filter: grayscale(100%);
  transition: 1s ease;
  border-radius: 10px;
}

.imageContainer:hover {
  filter: grayscale(0%);
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075),
    0 24px 24px hsl(0deg 0% 0% / 0.075), 0 36px 36px hsl(0deg 0% 0% / 0.075);
}

.projectImage {
  border-radius: 10px;
}

.projectTitle {
  font-size: 28px;
  margin: 10px 0;
}

@media (min-width: 1000px) {
  .projectTitle {
    font-size: 22px;
    margin-top: 1rem;
  }
}

.linkProject {
  font-weight: 600;
  color: black;
}

.subHeader {
  height: 40px;
}
