.container {
  display: flex;
  background-color: #894092;
  min-height: 100vh;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1000px) {
  .container {
    flex-direction: column;
  }
}

.projectImage {
  border-radius: 10px;
}

.imageContainer {
  width: 100%;
  min-width: 250px;
}

.card {
  width: 33%;
  margin: 0 0.5rem;
  min-width: 250px;
}

@media (max-width: 1000px) {
  .card {
    width: 60%;
    margin: 2rem 0;
  }
}
@media (max-width: 600px) {
  .card {
    width: 100%;
    margin: 2rem 0;
  }
}

.subHeader {
  color: white;
  margin: 10px 0;
  font-weight: 400;
}

.projectTitle {
  font-size: 28px;
  margin: 10px 0;
}

.linkProject {
  font-weight: 600;
  color: white;
}
