.mainContainer {
  min-height: 100vh;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}

@media (max-width: 1000px) {
  .container {
    flex-direction: column;
  }
}

.projectImage {
  border-radius: 10px;
}

.imageContainer {
  width: 100%;
  min-width: 250px;
  filter: grayscale(100%);
  transition: 0.5s ease;
}

.imageContainer:hover {
  filter: grayscale(0%);
}

@media (max-width: 1000px) {
  .imageContainer {
    filter: grayscale(0%);
  }
}

.card {
  width: 32%;
  margin: 0;
  min-width: 250px;
  max-width: 400px;
}

@media (max-width: 1000px) {
  .card {
    width: 100%;
    max-width: 100%;
    margin: 2rem 0;
  }
}

.subHeader {
  color: black;
  margin: 10px 0;
  font-weight: 400;
}

.projectTitle {
  font-size: 28px;
  margin: 10px 0;
}

.linkProject {
  font-weight: 600;
  color: black;
}

.text {
  font-size: 24px;
  font-weight: 400;
  height: fit-content;
  line-height: 1.5;
}
