@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto;
  background-color: #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* hero styles */
.headline {
  font-size: 87px;
  width: fit-content;
  font-weight: 700;
  margin: 1rem 0;
  font-family: Roboto;
  line-height: 1.1;
}

@media (max-width: 840px) {
  .headline {
    font-size: 64px;
  }
}

@media (max-width: 600px) {
  .headline {
    font-size: 45px;
  }
}
/* hero styles */
.sub-header {
  font-size: 36px;
  font-weight: 500;
  width: fit-content;
  font-family: Roboto;
  margin: 1rem 0;
}

@media (max-width: 600px) {
  .sub-header {
    font-size: 28px;
  }
}
/* hero styles */
.gradient {
  background: linear-gradient(90deg, #ffc0ff 0%, #fe74fd 50%, #ff6469 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* hero styles */
.button {
  padding: 12px 24px;
  border-radius: 20px;
  margin: 1rem 0;
  background: linear-gradient(90deg, #ffc0ff 0%, #fe74fd 50%, #ff6469 100%);
  background-size: 130% auto;
  transition: 0.5s;
  border: none;
  color: white;
  font-size: 18px;
  font-family: Roboto;
  cursor: pointer;
}

.button:hover {
  background-position: right center;
}
/* page styles */
.screen-size {
  width: 100%;
  height: 100vh;
  padding: 0 160px;
}

@media (max-width: 1000px) {
  .screen-size {
    padding: 0 32px;
  }
}

@media (max-width: 600px) {
  .screen-size {
    padding: 0 8px;
  }
}

.section-title {
  font-size: 64px;
  margin: 0;
}

@media (max-width: 1000px) {
  .section-title {
    font-size: 48px;
    height: 100%;
  }
}

@media (max-width: 600px) {
  .section-title {
    padding-top: 2rem;
    font-size: 48px;
    height: 100%;
  }
}

.section-text {
  font-size: 24px;
  font-weight: 400;
  height: fit-content;
  line-height: 1.5;
}

@media (max-width: 600px) {
  .section-text {
    font-size: 18px;
  }
}
